body {
    margin: 0%;
    overflow: hidden;
    background: #000;
}
a {
  border-radius: 3px;
  font-family: Arial;
  text-decoration: none;
  background: red;
  color: white;
  padding: 5px 10px;
  align-text: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}